<div class="container">
  <h2>create post</h2>
  <div class="card">
    <img class="card-img-top" style="width: 25%; "src="assets/avatar.avif" alt="avatar">
    <div class="card-body">
      <h4 class="card-title"><small>Please enter your details:</small></h4>
      <form action="">
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4">
            <label for="">First Name</label>
            <input type="text" name="" id="" class="form-control">
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <label for="">Last Name</label>
            <input type="text" name="" id="" class="form-control">
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <label for="cars">Choose a car:</label>
            <select name="cars" id="cars" class="form-control">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="opel">Opel</option>
              <option value="audi">Audi</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <label for="">UserName</label>
            <input type="text" name="" id="" class="form-control">
          </div>
          <div class="col-sm-4">
            <label for="">Email</label>
            <input type="email" class="form-control">
          </div>
          <div class="col-sm-4">
            <label for="">Date</label>
            <input type="date" class="form-control" >
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4" style="display:flexbox" >
            <label for="" class="mx-2">Gender</label>
            <input type="radio" id="male" value="male"> Male
            <input type="radio" id="female" value="female"> Female
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4" >
            <input type="checkbox" id="seniorcitizen" value="seniorcitizen">
            <label class="mx-1" for="">Is Senior Citizen</label>
          </div>
          <div class=" col-sm-4 col-md-4 col-lg-4 form-check form-switch">
            <input class="form-check-input" type="checkbox" id="mySwitch" name="darkmode" value="yes" checked>
            <label class="form-check-label" for="mySwitch">Dark Mode</label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-md-8 col-lg-8">
            <label for="">Message</label>
            <textarea class="form-control" rows="3"></textarea>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <button type="submit" class="btn btn-primary">Save Info</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
