<div class="container">
  <div class="table-responsive">
    <table class="table table-primary">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">UserId</th>
          <th scope="col">Title</th>
          <th scope="col">Body</th>
          <th scope="col">Action</th>
          <th scope="col">View</th>
        </tr>
      </thead>
      <tbody>
        <tr class="" *ngFor=" let post of postsData">
          <td scope="row">{{post.id}}</td>
          <td>{{post.userId}}</td>
          <td>{{post.title}}</td>
          <td>{{post.body}}</td>
          <td>
            <a [routerLink]="['/editpost',post.id]" routerLinkActive="router-link-active" ><i class="fa fa-pencil"></i></a>
            <a [routerLink]="['/deletepost',post.id]" routerLinkActive="router-link-active" class="mx-1" ><i class="fa fa-trash"></i></a>
          </td>
          <td>
            <a [routerLink]="['/viewpost',post.id]" routerLinkActive="router-link-active" ><i class="fa fa-eye"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
